@mixin border-radius($val1, $val2: $val1, $val3: $val1, $val4: $val1) {
  border-radius: $val1 $val2 $val3 $val4;
  -webkit-border-radius: $val1 $val2 $val3 $val4;
  -moz-border-radius: $val1 $val2 $val3 $val4;
  -ms-border-radius: $val1 $val2 $val3 $val4;
  -o-border-radius: $val1 $val2 $val3 $val4;
}

@mixin transition-duration($val) {
  transition-duration: $val;
  -webkit-transition-duration: $val;
  -moz-transition-duration: $val;
  -ms-transition-duration: $val;
  -o-transition-duration: $val;
}