<div class="table">
  <div class="row">
    <div class="cell" (click)="addNumber($event)">1</div>
    <div class="cell" (click)="addNumber($event)">2</div>
    <div class="cell" (click)="addNumber($event)">3</div>
  </div>

  <div class="row">
    <div class="cell" (click)="addNumber($event)">4</div>
    <div class="cell" (click)="addNumber($event)">5</div>
    <div class="cell" (click)="addNumber($event)">6</div>
  </div>

  <div class="row">
    <div class="cell" (click)="addNumber($event)">7</div>
    <div class="cell" (click)="addNumber($event)">8</div>
    <div class="cell" (click)="addNumber($event)">9</div>
  </div>

  <div class="row">
    <div class="cell" (click)="addNumber($event)">*</div>
    <div class="cell" (click)="addNumber($event)">0</div>
    <div class="cell" (click)="addNumber($event)">#</div>
  </div>
</div>