keyboard {
  display: table;
  width: 100%;
  text-align: center;

  .row {
    width: 100%;
    display: table-row;

    .cell {
      display: table-cell;
      width: 33.33%;
      vertical-align: middle;
    }
  }
}
