<div class="table">
<div class="row">
  <div class="cell">1</div>
  <div class="cell">2</div>
  <div class="cell">3</div>
</div>

<div class="row">
  <div class="cell">4</div>
  <div class="cell">5</div>
  <div class="cell">6</div>
</div>

<div class="row">
  <div class="cell">7</div>
  <div class="cell">8</div>
  <div class="cell">9</div>
</div>

<div class="row">
  <div class="cell">*</div>
  <div class="cell">0</div>
  <div class="cell">#</div>
</div>
</div>


<!--<div class="flex-wrapper">-->
  <!--<div class="flex-row">-->
    <!--<div class="flex-item">1</div>-->
    <!--<div class="flex-item">2</div>-->
    <!--<div class="flex-item">3</div>-->
  <!--</div>-->
  <!--<div class="flex-row">-->
    <!--<div class="flex-item">4</div>-->
    <!--<div class="flex-item">5</div>-->
    <!--<div class="flex-item">6</div>-->
  <!--</div>-->
  <!--<div class="flex-row">-->
    <!--<div class="flex-item">7</div>-->
    <!--<div class="flex-item">8</div>-->
    <!--<div class="flex-item">9</div>-->
  <!--</div>-->
  <!--<div class="flex-row">-->
    <!--<div class="flex-item">*</div>-->
    <!--<div class="flex-item">0</div>-->
    <!--<div class="flex-item">#</div>-->
  <!--</div>-->
<!--</div>-->