keyboard {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: $text;
  background-color: $lightBlue;

  .table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: $normalBlue;
    border: toRem(2) solid $borderBlue;
    border-top: none;

    .row {
      display: table-row;
      height: 25%;

      .cell {
        display: table-cell;
        vertical-align: middle;
        border-bottom: toRem(2) solid $borderBlue;
        border-right: toRem(2) solid $borderBlue;

        &:last-child {
          border-right: none;
        }

        &:active {
          background-color: $darkBlue;
        }
      }

      &:last-child .cell {
        border-bottom: none;
      }
    }
  }
}
